@import "../assets/styles/variables";

.footer {
  padding: 50px 0;

  .small-text {
    font-size: 0.875rem;
  }

  .grey-text {
    color: $bp-brown;
  }

  .email-address {
    margin: 0;

    a {
      color: $bp-blue-arctic;
    }
  }

  .value-proposition {
    @extend .grey-text;
    @extend .small-text;
    margin: 0;
  }

  .footer-link, .footer-link:hover, .footer-link:active {
    @extend .grey-text;
  }

  .info-links-container {
    margin-top: 60px;
  }
}
