@import "../assets/styles/variables";

.hero {
  padding-top: 10px;
  background-image: url("../assets/images/landing-hero/landing-hero.svg");
  background-repeat: no-repeat;
  background-position: top right;

  @media (min-width: 350px) {
    padding-top: 30px;
  }

  .content-wrapper {
    max-width: 910px;

    .typings {
      display: inline-block;
    }

    .btn-start-project {
      margin-top: 10px;

      @media (min-width: 350px) {
        margin-top: 70px;
      }
    }

    small.btn-info {
      display: block;
      margin-top: 15px;
      font-size: 0.625rem;
      line-height: 150%;
    }

    h1 {
      margin-top: 3.5rem;

      @media (max-width: 730px) {
        min-height: 165px;
        margin-top: 0;
      }

      @media (max-width: 390px) {
        min-height: 210px;
      }

      @media (max-width: 350px) {
        min-height: 220px;
      }
    }

    p {
      @media (min-width: 730px) {
        margin-top: 40px;
      }
    }
  }

  .building-on {
    margin-top: 60px;

    .cloud-providers {
      margin-top: 20px;
      max-width: 850px;
      padding: 0 12px;

      .cloud-icon {
        display: inline-block;
        max-width: 100%;
        margin: 20px 0;
      }
    }

    @media (max-width: 600px) {
      margin-top: 60px;
    }
  }

  @media (max-width: 1440px) {
    background-position: top 0 left calc(100% + 200px);
  }

  @media (max-width: 1280px) {
    background-position: top 0 left calc(100% + 300px);
  }

  @media (max-width: 960px) {
    background-position: top 0 left calc(100% + 400px);
  }

  @media (max-width: 600px) {
    background-position: top 0 left calc(100% + 500px);
  }
}
