@import "../assets/styles/variables";

.hero {
  padding-top: 30px;
  background-image: url("../assets/images/landing-hero.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  .content-wrapper {
    max-width: 910px;

    .typings {
      display: inline-block;
    }

    .btn-start-project {
      margin-top: 70px;
    }

    .btn-info {
      margin-top: 15px;
      font-size: 0.625rem;
      line-height: 150%;
    }

    h1 {
      @media (max-width: 730px) {
        min-height: 165px;
      }

      @media (max-width: 390px) {
        min-height: 200px;
      }
    }
  }

  @media (max-width: 1440px) {
    background-position: calc(100% + 200px);
  }

  @media (max-width: 1280px) {
    background-position: calc(100% + 250px);
  }

  @media (max-width: 960px) {
    background-position: calc(100% + 300px);
  }
}
