@import "../assets/styles/variables";

.menu {
  margin: 34px 0;

  .menu-item {
    a {
      color: $bp-black;
      text-decoration: none;
      padding: 5px;
    }

    a:hover {
      color: $bp-blue;
      font-weight: bold;
    }
  }
}

.mobile-menu {
  padding: 34px 20px;

  .mobile-menu-item {
    a, button {
      margin: 0 auto;
    }

    a {
      color: $bp-black;
      text-decoration: none;
      padding: 10px;
    }

    a:hover {
      color: $bp-blue;
      font-weight: bold;
    }
  }
}
