@import "../assets/styles/variables";

.menu {
  margin: 34px 0;
}

.menu-item {
  a {
    color: $bp-black;
    padding: 5px;
    transition: color 150ms ease-out;
    text-decoration: none;
  }

  a:hover, a:active {
    color: $bp-blue;
    text-decoration: none;
    //font-weight: bold;
  }
}

.mobile-menu {
  padding: 34px 20px;

  a, button {
    margin: 0 auto;
  }

  a {
    padding: 10px;
  }

  .mobile-menu-item {
    @extend .menu-item;
  }
}
