.not-found-container {
    margin-top: 80px;
    margin-bottom: 80px;

    .message-container {
        max-width: 414px;
    }

    .spaced-evenly {
        margin: 10px 0px;
    }

    svg {
        max-width: 334px;
        max-height: 289px;
        width: 100%;
        margin: auto;
        display: block;
    }
}