@import "../assets/styles/variables";

.section-one-stop {
  h3 {
    margin-bottom: 20px;
  }

  button {
    margin-top: 35px;
  }

  small {
    display: block;
    font-size: 0.625rem;
    margin-top: 15px;
  }
}
