@import "../assets/styles/variables";

section {
  margin: 100px auto;

  .title {
    font-weight: bold;
    color: $bp-black;
    text-align: center;
  }

  .subtitle {
    max-width: 620px;
    font-size: 1.125rem;
    color: $bp-brown;
    text-align: center;
    margin: 25px auto 65px auto;
  }

  @media (max-width: 600px) {
    margin: 70px auto
  }
}
