@import "../assets/styles/variables";

section.technology {
  background: url(../assets/images/technology-bg.png) no-repeat;
  background-size: calc(100%/2 + 30px) calc(100% - 50px);
  background-position: left 50px;

  @media (max-width: 960px) {
    background-size: 100% 55%;
  }

  .wrapper {
    min-height: 600px;
    padding: 16px;
  }

  .MuiPaper-root {
    background: #FFF;
  }
}
