@import "../assets/styles/variables";

section.technology {
  .wrapper {
    background: url(../assets/images/technology-bg.png) no-repeat left center;
    min-height: 600px;
    background-size: contain;
  }
}
