@import "../assets/styles/variables";

section.testimonials {
  background: url(../assets/images/icons/quote.svg) no-repeat 14% 140px;

  .controls {
    text-align: right;
    margin-bottom: 30px;
    min-height: 40px;

    svg {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      color: rgba($bp-black, 0.2);
      transition: color 150ms ease-out;

      &:hover {
        color: $bp-blue;
      }
    }
  }

  .indicators {
    text-align: center;
    margin-top: 50px;

    .bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($bp-brown, 0.2);
      margin: 0 10px;
      transition: background-color,width,height 150ms ease-out;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;

      &.active {
        background-color: $bp-blue;
        width: 15px;
        height: 15px;
      }
    }
  }

}
