@import "../../assets/styles/variables";

.cta {
  background-color: lighten($color: $bp-blue, $amount: 40);
  padding: 54px 0;

  .contact-link-container {
    margin-top: 15px;

    .contact-link {
      color: $bp-black;
      font-size: 1.125rem;
      text-decoration: underline;
    }
  }

  .interested {
    @media (max-width: 959px) {
      justify-content: center !important;
    }
  }

  .start-project {
    @media (max-width: 959px) {
      align-items: center !important;
    }
  }
}
