
.text-center {
  text-align: center;
}

.text-white {
  color: $bp-white;
}

.text-blue {
  color: $bp-blue;
}

.text-black {
  color: $bp-black;
}

.valign-middle {
  vertical-align: middle;
}

.separator {
  width: 35%;
  max-width: 500px;
  height: 1px;
  background: rgba($bp-brown, 0.1);
  margin: 50px auto;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/*
 * Use these classes on the parent element of the grid that has
 * spacing.
 */
.grid-spacing-overflow-hidden {
  width: 100%;
  overflow: hidden;
}
