@import "variables";
@import "mixins";
@import "type";
@import "helpers";


html, body {
  margin: 0;
  padding: 0;
}

body {
  //font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  //line-height: 1.8125rem;
  //line-height: 150%;
  color: $bp-brown;
  background-color: #FFFFFF !important;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  ::-ms-clear {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-size: 1rem;
  text-decoration: none;
}
