@import "variables";

body {
  color: $bp-brown;
  font-size: 1.125rem;
  line-height: 150%;
}

h1 {
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 4.375rem;
  color: $bp-black;
}

a {
  font-size: 1rem;
  text-decoration: none;
}
