@import "variables";

body {
  color: $bp-brown;
  font-size: 18px;
  line-height: 150%;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  color: $bp-black;
}

a {
  font-size: 16px;
  text-decoration: none;
}
